<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  {{{ style }}}
</head>

<body>
  <main id="resume" class="page">
    {{> resume-header}} <!-- This header is always rendered -->
    
    <div class="resume-content">
      <aside class="left-column">
        {{#if basics}} <!-- Render 'about' section if 'basics' data exists -->
          {{> about }}
        {{/if}}
        
        {{#if skills}} <!-- Render 'skills' section if 'skills' data exists -->
          {{> skills }}
        {{/if}}
        
        {{#if languages}} <!-- Render 'languages' section if 'languages' data exists -->
          {{> languages }}
        {{/if}}
        
        {{!-- Conditional for certifications if needed in the future --}}
        {{!-- {{> certifications }} --}}
      </aside>
      
      <div class="right-column">
        {{#if basics.summary}} <!-- Render 'summary' section if a summary exists -->
          {{> summary }}
        {{/if}}
        
        {{#if work}} <!-- Render 'work' section if 'workEntries' data exists -->
          {{> work }}
        {{/if}}
        
        {{#if education}} <!-- Render 'education' section if 'educationEntries' data exists -->
          {{> education }}
        {{/if}}
      
      </div>
    </div>
  </main>
</body>

</html>
