{{#basics}}
<div class="container about-container">
    {{> title value="About"}}
       {{log this}}
     <!-- Location -->
    {{#if location.address}}
        {{> info-tag text=(formatAddress location.address location.city location.region location.postalCode location.countryCode) icon="fa-map-marker"}}
    {{/if}}

    {{#if birthday}}
        {{> info-tag text=(concat "Born in " this.birthday) icon="fa-calendar"}}
    {{/if}}

    {{#if email}}
        {{> info-tag text=this.email icon="fa-envelope-o" isEmail=true url=this.email}}
    {{/if}}
    
    {{#if code}}

     {{>countryCode}}
    
     {{/if}} 
    {{#if phone}}
        {{> info-tag text=this.phone icon="fa-mobile"}}
    {{/if}}

    {{#if website}}
        {{> info-tag text=this.website icon="fa-globe" url=this.website}}
    {{/if}}

    {{#if profiles}}
        {{#each profiles}}
            {{> social}}
        {{/each}}
    {{/if}}
</section>
{{/basics}}
